//Colors

$color-primary: #323232;
$color-secondary: #1171a3;
$color-error: #C22929; 

//Padding

$padding-sm: 4px;
$padding-md: 8px;
$padding-lg: 16px;

//Margins

$margin-sm: 4px;
$margin-md: 8px;
$margin-lg: 16px;


//Font size

$font-sm: 14px;
$font-md: 16px;