@mixin container-desktop-lg {
  max-width: 1280px;
  margin: 0 auto;
}

@mixin container-desktop {
  max-width: 769px;
  margin: 0 auto;
}

@mixin container-tablet {
  max-width: 481px;
  margin: 0 auto;
}

@mixin flex-layout-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex-layout-space-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}

@mixin flex-layout-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin box-shadow {
  -webkit-box-shadow: 0px 10px 36px -25px rgba(50,50,50,1);
  -moz-box-shadow: 0px 10px 36px -25px rgba(50,50,50,1);
  box-shadow: 0px 10px 36px -25px rgba(50,50,50,1);
}

//breakpoints

@mixin tablet {
  @media only screen and (min-width: 481px) {
    @content;
  }
}


@mixin desktop {
  @media only screen and (min-width: 769px) {
    @content;
  }
}


@mixin desktop-lg {
  @media only screen and (min-width: 1280px) {
    @content;
  }
}