@mixin container {
  max-width: 80rem;
  margin: 0 auto;
}

@mixin flex-layout-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-layout-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}