@import '../../../styles/mixins.scss';
@import '../../../styles/config.scss';

.ItemCard__container {
  @include flex-layout-columns;
  align-items: initial;
  height: 21rem;
  padding: $padding-md;
  margin: $margin-sm $margin-sm;
  cursor: pointer;
  border: 1px solid lighten($color-primary, 70%);
  background-color: $color-background-2;

  @include box-shadow;

  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    transition: all 0.3s ease-out;
  }

  .ItemCard__info {
    margin-top: $padding-lg;
    border-top: 1px solid lighten($color-primary, 70%);
    h3 {
      width: 18rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @include desktop {
    flex: 0 0 46.62%;
  }

  @include desktop-lg {
    flex: 0 0 22.96%;
  }
}