@import '../../styles/mixins.scss';
@import '../../styles/config.scss';

.header__container {
  @include container-tablet;
  @include flex-layout-space-between;
  border-bottom: 1px solid lighten($color-primary, 70%);
  margin-top: $margin-md;

  .header__containerLeft {
    @include flex-layout-columns;

    .header__title {
      margin: 0;
      align-self: start;
      cursor: pointer;
    }
  }

  @include desktop {
    max-width: 18rem;
    @include container-desktop;
    margin-top: $margin-md;
  }

  @include desktop-lg {
    @include container-desktop-lg
    margin-top: $margin-md;
  }
  
}