@import '../../styles/mixins.scss';
@import '../../styles/config.scss';

.header__container {
  @include container-tablet;
  max-width: 18rem;
  @include flex-layout-space-between;
  margin-top: $padding-md;
  border-bottom: 1px solid lighten($color-primary, 70%);

  .header__containerLeft {
    @include flex-layout-columns;

    .header__title {
      margin: 0;
      align-self: start;
    }
  }

  @include desktop {
    @include container-desktop;
  }

  ;

  @include desktop-lg {
    @include container-desktop-lg
  }

  ;
}